<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wesbalbinolive.julietapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Juliet Calçados"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TermosActivity"
            android:label="Juliet Calçados" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="Juliet Calçados" >
        </activity>
    </application>

</manifest>
